* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/*Főoldal*/

html {
  background-image: url(image/hatter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 5rem;
}
header {
  background-image: url(image/Logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
}
body {
  width: 1000px;
  height: 100%;
  margin: auto;
  background-color: rgba(999, 999, 999, 0.5);
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 35px;
}
nav {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  height: 50px;
  background-color: black;
  margin-bottom: 1.5rem;
  top: 0;
}
nav ul {
  list-style: none;
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
}
nav ul li a {
  color: darkgray;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
nav ul li a:hover {
  color: crimson;
  text-decoration: underline;
  font-size: 1.5rem;
}
main {
  text-align: center;
}
div {
  margin: 10px;
  font-size: 20px;
}
.telefon {
  color: red;
}
footer,
.footer {
  margin: auto 20px;
}

h2 {
  margin-top: 20px;
}

/*Szerencse kerék*/
iframe {
  height: 700px;
  width: 700px;
}

/*Bukósisakok*/
.buko1,
.buko2,
.buko3 {
  display: content;
  text-align: left;
  font-size: 20px;
}
.exo520,
.exo-tech,
.adx-1 {
  width: 80%;
  border-radius: 2rem;
}
.bukoMain {
  margin: 0 2rem 3rem 2rem;
}
.bukoMain h1,
h2,
h3 {
  margin: 0.5rem;
}
.bukoMain ul li {
  margin: 1rem;
  list-style-position: inside;
}
.tipus {
  max-width: 25rem;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 3.4rem;
}
.zart,
.nyitott,
.adv {
  height: 1.5rem;
  width: 7rem;
  background-color: rgba(150, 10, 10, 0.3);
  border-radius: 10px;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.zart .nyitott,
.adv,
a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

/*Kabátok*/
.evszak {
  max-width: 25rem;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 3.4rem;
}
.nyari,
.teli,
.negy {
  height: 1.5rem;
  width: 7rem;
  background-color: rgba(150, 10, 10, 0.3);
  border-radius: 10px;
  margin: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.nyari .teli,
.negy,
a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.kabat_main {
  margin: 0rem 2rem 3rem 2rem;
}
.kabat_main h1 {
  margin-bottom: 1rem;
}
.kabat_main ul li {
  padding-left: 0.5rem;
  list-style-position: inside;
}
.kabat1,
.kabat2,
.kabat3 {
  display: contents;
  text-align: left;
  font-size: 20px;
}
.Khao_air_kabat,
.Tacoma_kabat,
.Westport_kabat {
  height: 35rem;
  width: auto;
  margin-bottom: 1rem;
  border-radius: 3rem;
}
.video_kabat {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.warning {
  color: #ff0000;
}

/*Nadrágok*/
.nadrag1,
.nadrag2,
.nadrag3 {
  display: content;
  text-align: left;
  font-size: 20px;
}
.nadrag_main {
  margin: 0rem 2rem 3rem 2rem;
}
.nadrag_main h1 {
  margin-bottom: 1rem;
}
.nadrag_main ul li {
  padding-left: 0.5rem;
  list-style-position: inside;
}
.Alexius_Farmer,
.Khao_Air_Nadrag,
.Tacoma_Nadrag {
  height: 25rem;
  width: auto;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}
.video_nadrag {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
/*Csizmák-Kesztyűk*/
.evsz {
  max-width: 25rem;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 3.4rem;
  font-size: 14px;
  line-height: 0;
  padding-left: 10px;
}

/*
@media(max-width:1000px) {
    html{
        max-width: 800px;
    }
}
@media(max-width:500px) {
    html{
        max-width: 400px;
    }
    
}
@media(max-width:300px) {
    html{
        max-width: 250px;
    }
}
*/
